bin/
obj/
.vs/
*.user
**/appsettings.json
**/appsettings.Development.json
frontend/.env
frontend/node_modules/
frontend/dist/
*.suo
.vscode/
*.pfx
*.snk
packages/
*.slnLaunch.user
*.csproj.Backup.tmp
TravelPlannerApp/pkg/
TravelPlannerApp/*.sfproj.user
TravelPlannerApp.slnLaunch.user